/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #DDDCDA url('../img/linenbg.gif') repeat fixed;
    margin: 0px;
}

/*
 * header
 */
.header-background {
    background-color: #5CCDC9;
}

.header-container {
    position: relative;
    width: 980px;
    height: 160px;
    margin: 0px auto 0px auto;
    border-radius: 0px 0px 4px 4px;
    background-color: #5CCDC9;
}

.header {
    position: relative;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0px 0px 4px 4px;
    background-color: #009B95;
    text-shadow: 2px 2px #000000;
    -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.header .fe-name {
    margin: 0px 0px 0px 10px;
    color: #FFFFFF;
    font-size: 3em;
    font-family: 'Fredericka the Great', cursive;
}

.header .slogan {
    margin: -11px 0px 0px 12px;
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: 'Fanwood Text', cursive;
}

.header .logo {
    height: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*
 * main-nav
 */
.main-nav {
    width: 980px;
    margin: auto;
    text-shadow: none;
    padding: 0px;
}

.main-nav ul {
    position: absolute;
    top: 100%;
    left: 0px; right: 0px;
    list-style: none;
    margin: 0px;
}

.main-nav ul li {
    position: relative;
    top: -4px;
    display: inline-block;
    background-color: #009B95;
    margin-left: 15px;
    border-radius: 0px 0px 4px 4px;
    font: 1.4em 'Poiret One', cursive;
    -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.main-nav ul li:first-of-type {
    margin-left: 0px;
}

.main-nav ul li:hover {
    position: relative;
    top: 0px;
    background-color: #FF7100; /* fallback */
    background: -webkit-gradient(linear, left top, left bottom, from(#009B95), to(#FFB173)); /* for webkit */
    background: -moz-linear-gradient(top, #009B95, #FF7100); /* for firefox */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009B95', endColorstr='#FF7100'); /* for IE */
    background: -ms-linear-gradient(top, #009B95, #FF7100);
    background: -o-linear-gradient(top, #009B95, #FF7100);
}

.main-nav ul li a {
    color: white;
    text-decoration: none !important;
    padding: 10px 10px 4px 10px;
}

.main-nav ul li:first-of-type img {
    display: inline-block;
    text-align: center;
}

/*
 * content
 */
.content {
    width: 980px;
    margin: 15px auto 0px auto;
    background-color: #5CCDC9;
    border-radius: 4px 4px 0px 0px;
    overflow: hidden;
}

.inner-content {
    height: 100%;
    min-height: 500px;
    margin: 10px;
    background-color: #009B95;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    
    color: white;
}

/*
 * footer
 */
.footer {
    width: 980px;
    height: 35px;
    margin: 0px auto 0px auto;
    
    background-color: #5CCDC9;
}

.footer div {
    position: relative;
    height: 35px;
    margin: 0px 10px 0px 10px;
    background-color: #009B95;
    border-radius: 4px 4px 0px 0px;
    -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    
    color: #FFFFFF;
    font-size: .8em;
}

.footer .copyright {
    position: absolute;
    left: 10px;
}

.footer .credit {
    position: absolute;
    right: 10px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
