<div class="header-background">
    <div class="header-container">
        <header>
            <div class="header">
                <h1 class="fe-name">Fitness Elements</h1>
                <h4 class="slogan">Improving your health through better balance</h4>
                <img class="logo" src="img/circle_logo.png" alt="Fitness Elements Logo" />
                <nav>
                    <div class="main-nav">
                        <ul>
                            <li>
                                <a href="#home"><img src="img/home.png" alt="Home" /></a>
                            </li>
                            <li>
                                <a href="#news">About Us</a>
                            </li>
                            <li>
                                <a href="#services">Services</a>
                            </li>
                            <li>
                                <a href="#schedule">Schedule</a>
                            </li>
                            <li>
                                <a href="#resources">Resources</a>
                            </li>
                            <li>
                                <a href="#contact">Contact Us</a>
                            </li>
                            <li>
                                <a href="#testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a href="#store">Store</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </div>
</div>